/* ----- CSS STYLE SHEET BELOW ----- */

/* ----- booklesson.blade.php ----- */

#lesson-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

#lesson-form-container select {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #0C1248;
    width: 100%;
    max-width: 20rem;
}

#lesson-form-container label {
    margin-right: 0.5rem;
}

#booklesson-calendar {
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid #0C1248;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    padding: 20px;
}

#booklesson-calendar-container {
    background-color: gray-800;
    border-radius: 10px;
    padding: 50px;
}

.fc-time-grid-event {
    background-color: #a6d8f5;
}

#book-now-button[type="submit"] {
    background-color: #0C1248;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
}

#book-now-button[type="submit"]:hover {
    background-color: #2779bd;
}


/* ----- dashboard.blade.php ----- */
.card-header {
    font-weight: bold;
    color: #111827;
    font-size: x-large;
}

#dashboard-calendar {
    max-width: auto;
    margin: 10 auto;
    border: 2px solid #0C1248;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 35px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.dashboard-calendar-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 10px;
    padding: 1rem;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.dashboard-card {
    margin-bottom: 1rem;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.fc-event-title {
    white-space: pre-wrap;
}

.dashboard-book-a-lesson-btn {
    background-color: #0C1248;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    margin: 0 auto;
    margin-right: 80px;
    width: 150px;
}

.dashboard-book-a-lesson-btn:hover {
    background-color: #2779bd;
}

.make-a-payment-button {
    background-color: #0C1248;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    margin: 0 auto;
    margin-left: 80px;
    width: 150px;
}

.make-a-payment-button:hover {
    background-color: #2779bd;
}


/*----- lessonmanager.blade.php -----*/
.unpaid-lessons-header {
    text-align: center;
    font-weight: bold;
    color: #111827;
    font-size: x-large;
    margin-bottom: 40px;
}

.paid-lessons-header {
    text-align: center;
    font-weight: bold;
    color: #111827;
    font-size: x-large;
    margin-top: 40px;
    margin-bottom: 40px;
}

.lesson-manager-table {
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px solid #0C1248;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lesson-manager-table td {
    text-align: center;
    border: 1px solid darkgray;
    padding: 8px;
    height: 20px; /* Adjust this value to match the height of table cells */
    line-height: 20px; /* Set the line-height to match the height of the table cells */
}

.lesson-manager-table th,
.lesson-manager-table td {
    text-align: center;
    border: 1px solid darkgray;
    padding: 8px;
}

.lesson-manager-table th {
    background-color: #0C1248;
    color: white;
    padding: 10px;
}

.pay-now-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.pay-now-button[type="submit"] {
    background-color: #3490dc;
    border-color: #3490dc;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
    margin-top: auto;
}

.pay-now-button[type="submit"]:hover {
    background-color: #2779bd;
}


.table-wrapper {
    /* max-height: auto;  Remove max-height and No Scroll - adjust this value to change the maximum height of the table */
    max-width: 1200px;
    margin: 0 auto;
    border: 6px solid #0C1248;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
}

/*----- payment.blade.php -----*/
.card-header.text-center {
    font-weight: bold;
    color: #111827;
    font-size: x-large;
    margin-top: 40px;
}

.payment-form-container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 50px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.payment-info {
    text-align: center;
}

.stripe-element {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #0C1248;
    width: 100%;
    max-width: 400px;
}

/* to style the Confirm Payment button */
#payment-form .btn-primary {
    background-color: #0C1248;
    border-color: #0C1248;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out;
}

#payment-form .btn-primary:hover {
    background-color: #2779bd;
    border-color: #2779bd;
    color: #fff;
}
